// CSS Libraries
@import "normalize";
@import "bourbon";
@import "neat";

// Site-wide base styles
@import "base";

// My Libraries
@import "pixels";
@import "syntax";

// Specific styles
@import "posts";

.container {
  @include outer-container;
  margin: 0 auto;
}

.sidebar {
  @include span-columns(3);

  ul li {
    margin-bottom: 15px;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  @media only screen and (max-width : 700px) {
    ul:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
     }
  }
}

.main {
  @include span-columns(9);
}
