// CSS Libraries
@import "normalize-css/normalize";
@import "bourbon";
@import "neat";

// My Libraries
@import "syntax";

// Site-wide base styles
@import "base";
@import "components/rb_pixels";

// Specific styles
@import "posts";

.container {
  @include outer-container;
  margin: 0 auto;

  /* Navigation */
  nav {
    background-color: #f00;
    border-left: 3px solid #a70000;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }

    ul li {
      display: inline-block;
      padding: 12px 5px;
      margin: 0 20px;

      a {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        border-bottom: none;
      }

      a:hover {
        background-color: transparent;
      }
    }

    ul li:hover {
      background-color: #a70000;
    }
  }

}
