// Links
a {
  color: #000;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #aaa;
}

a:hover {
  background-color: #eee;
}

// Jumbotron
.jumbotron {
  margin-bottom: 10px;
}
