.pixels {
  width: 100%;
  position: relative;
}

.pixels::after {
  padding-top: 66.666666667%;
  display: block;
  content: '';
}

.pixels .fill {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
}

.pixels .tint:hover {
  background-color: rgba(0, 0, 0, .15);
}